body {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: cornsilk;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100vh;
 margin: 0;
}

.container {
    background-color: rgb(230, 185, 149);
    border-radius: 10px;
    box-shadow: 10px 25px 25px rgba(228, 135, 28, 0.753);
    padding: 20px;
    text-align: center;
    width: 500px;
    
}

h1 {
   color: white;
   font-size: 38px;
   margin-bottom: 22px;
   text-decoration: underline;
   text-shadow: 8px 8px 14px rgb(230, 185, 149);
}

#danana {
    text-shadow: 10px 10px 20px rgba(211, 86, 86, 0.911);
    text-decoration: underline;
    color: rgb(6, 0, 8);
}

#taskinput {
    width: 93%;
    padding: 10px;
    border: 3px solid #E69428;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    transition: border 0.3;
    height: 37px;
    font-size: 25px;
}

#taskinput:focus {
    border: 4px solid #e69428;


}
#taskinput:hover {
    background-color:rgb(223, 218, 200);


}



button {
    padding: 10px 20px;
    background-color: #c9970dc5;
    color: floralwhite;
    border: 2px solid black;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

button:hover {
    background-color: #72470e;
}

ul {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    
}

li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3;
    font-size: 25px;
}
li:hover {
    background-color: #e9e9e9;
}

.completed{
    text-decoration: line-through;
    color: rgb(211, 146, 67);
}
.remove-btn {
    background-color: #ff6b6b;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;

}
.remove-btn:hover {
    background-color: #d9534f;
}